<!doctype html>
<title>Прогнозирование оттока и эффекта от удержания</title>

<div style="text-align: left; font-family:'Calibri'">
<form action="{{ url_for('index_page') }}" method=post>
    <dl>
        <a name="mod"></a>
        <dt><strong>7. Расчёт экономического эффекта кампании по удержанию:</strong><br>
            <br>
            Экономический эффект = ARPU * N_true_churn - Retention_cost * (N_true_churn + N_false_churn)) * Retention_prob * Retention_life_exp - Fix_costs, где: <br>
            <br>
            <table>
            <tr><td>ARPU</td><td>средняя выручка с одного абонента в месяц</td></tr>
            <tr><td>N_true_churn</td><td>количество абонентов, которые собирались оттечь, которые были правильно классифицированы и которым было сделано предложение по удержанию</td></tr>
            <tr><td>N_false_churn</td><td>количество абонентов, которые НЕ собирались оттечь, но которые были классифицированы, как собиравшиеся оттечь, и которым было сделано предложение по удержанию</td></tr>
            <tr><td>Retention_cost</td><td>cтоимость удержания одного абонента в месяц (в у.е.)</td></tr>
            <tr><td>Retention_prob</td><td>вероятность принятия абонентом предложения по удержанию (не зависит от того, правда ли он собирался оттечь)</td></tr>
            <tr><td>Retention_life_exp</td><td>ожидаемый срок жизни абонента после удержания (в месяцах)</td></tr>
            <tr><td>Fix_costs</td><td>фикисрованные расходы на внедрение модели и проведение кампании (в у.е.)</td></tr>
            </table>
            <br>
            Ввод параметров модели:<br>
        <br>
        <dd>
            <table>
                <tr><td>Вес класса "отток" (0 -  классы несбалансированы, 11 - сбалансированы) </td><td><textarea name=weight rows=1 cols=10>{{ weight }}</textarea></td></tr>
        
                <tr><td>ARPU (в у.е.) </td><td><textarea name=arpu rows=1 cols=10>{{ arpu }}</textarea></td></tr>
                <tr><td>Стоимость удержания одного абонента в месяц (в у.е.) </td><td><textarea name=retention_cost rows=1 cols=10>{{ retention_cost }}</textarea></td></tr>
                <tr><td>Вероятность принятия абонентом предложения по удержанию </td><td><textarea name=retention_prob rows=1 cols=10>{{ retention_prob }}</textarea></td></tr>
                <tr><td>Масштаб рассылки предложений (доля от всей абонентской базы) </td><td><textarea name=retention_scale rows=1 cols=10>{{ retention_scale }}</textarea></td></tr>
                <tr><td>Ожидаемый срок жизни после удержания (в месяцах) </td><td><textarea name=retention_life_exp rows=1 cols=10>{{ retention_life_exp }}</textarea></td></tr>
                <tr><td>Фикисрованные расходы на проведение кампании (в у.е.) </td><td><textarea name=fix_costs rows=1 cols=10>{{ fix_costs }}</textarea></td></tr>
            </table>
        <br>
        <dd><input type=submit value="Рассчитать" style="text-align: center; font-family:'Calibri'">
    </dl>
</form>
    

<br>Экономический результат кампании по удержанию: <strong>{{ result }}</strong> у.е.<br>     
<a href="https://churn-anatoly.herokuapp.com/churn-model">Вернуться к отчёту</a>
</div>
