<!doctype html>
<title>Прогнозирование оттока и эффекта от удержания</title>

<div style="text-align: center; font-family:'Calibri'">
<font size="5" color="black">

<p>Добро пожаловать в отчёт по проекту "Прогнозирование оттока клиентов"!</p>

</font>
</div>

<div style="text-align: center; font-family:'Calibri'">
<p>Здесь вы узнаете, какими способами можно прогнозировать отток, а в конце сможете рассчитать <a href="#mod">экономический эффект</a> кампании по удержанию абонентов при различных вводных</p>    
</div>

<div style="text-align: left; font-family:'Calibri'">
    
<dl>
    <dt><strong>1. Цель проекта:</strong>
    <br>
    <dd> - научиться находить пользователей, склонных к оттоку (для того, чтобы эффективно управлять оттоком: например, выявлять причины оттока; помогать пользователям, попавшим в группу риска, решать их проблемы и задачи; проводить кампании по удержанию)<br>
</dl>
    
<dl>
    <dt><strong>2. Задачи проекта:</strong>
    <br>
    <dd> - научиться работать с набором разнотипных шумных данных<br>
    <dd> - строить и оптимизировать вероятностные модели классификации<br>
    <dd> - построить экономическую модель для расчёта эффекта от кампании по удержанию абонентов<br>        
</dl>
    
<dl>
    <dt><strong>3. Вводные:</strong>
    <br>
    <dd> - данные по 40 000 абонентов одного из операторов связи, разделённые на два класса: "отток" (те, кто отказался от услуг этого оператора) и "не отток" (те, кто остался пользоваться его услугами)<br>
    <dd> - данные предоставлены без описания, однако известно, что первые 190 переменных являются числовыми, а оставшиеся 40 - категориальными<br>
    <dd> - классы несбалансированы (количество абонентов класса "отток" составляет примерно 7% от общего количества)<br>        
</dl>

<dl>
    <dt><strong>4. Выбор метрики:</strong>
    <br>
    <dd> - в качестве основной метрики качества в таких задачах как правило выступает AUC ROC (она же была выбрана и для проводившегося в рамках проекта соревнования по классифификации)<br>
    <dd> - в качестве дополнительных метрик удобно использовать Точность (Precision) и Полноту (Recall) определения целевого класса ("отток")<br>
</dl>
    
<dl>
    <dt><strong>5. Отбор и обработка переменных:</strong>
    <br>
    <dd> - данные оказались с большим количеством пропусков (как для числовых, так и категориальных переменных); на приложенном графике с матрицей попарных корреляций 20 наиболее коррелированных с целевой переменных серые ячейки - это пары переменных, для которых не нашлось ни одного абонента, у которого были бы заполнены обе переменные: <br>
    <img src="https://img-fotki.yandex.ru/get/244791/16973746.78/0_a5a12_e84127a8_orig">
    <dd> - числовые переменные можно отбирать двумя способами: по коэффициенту корреляции Пирсона (он менее хорош для бинарной целевой переменной, чем для числовой) или проверяя гипотезу о равенстве матожиданий значений этой переменной для двух классов. Я выбрал первый вариант в силу того, что он проще и даёт вполне приемлемый результат <br>
    <dd> - пропуски в числовых переменных заполнялись средними (результат классификации оказывался заметно выше, чем при заполнении нулями или медианами) <br>
    <dd> - категориальный переменные отбирал по коэффициенту Крамера<br>
    <dd> - также часть числовых переменных имела небольшое количество различных значений и те переменные, у кого было меньше 5 значения, я тоже превратил в категориальные<br>
</dl>
    
<dl>
    <dt><strong>6. Построение моделей:</strong>
    <br>
    <dd> - для начала попробуем запустить классификаторы с базовыми настройками<br><br>
        <table>
            <th>Модель</th><th>ROC AUC</th><th>Accuracy</th><th>Precision</th><th>Recall</th>            
            <tr><td>GradientBoostingClassifier </td><td>0.733</td><td>0.9256</td><td>0.4511</td><td>0.0149</td></tr>
            <tr><td>RandomForestClassifier </td><td>0.6117</td><td>0.9237</td><td>0.2059</td><td>0.009</td></tr>
            <tr><td>RidgeClassifier</td><td>0.6752</td><td>0.9256</td><td>0.1667</td><td>0.0003</td></tr>
        </table>
        <br>
    <dd> - хорошо видно, что при разумных ROC AUC и Accuracy полнота выявления класса "отток" очень низкая (то есть классификаторы настроились на выявдение самого многочисленного класса "не отток" (который составляет более 90%). Попробуем запустить классификаторы с параметрами соответствующими балансировке классов<br><br>
        <table>
            <th>Модель</th><th>ROC AUC</th><th>Accuracy</th><th>Precision</th><th>Recall</th>            
            <tr><td>GradientBoostingClassifier </td><td>0.7327</td><td>0.6858</td><td>0.1422</td><td>0.6398</td></tr>
            <tr><td>RandomForestClassifier </td><td>0.6174</td><td>0.9239</td><td>0.2178</td><td>0.0093</td></tr>
            <tr><td>RidgeClassifier</td><td>0.6735</td><td>0.6324</td><td>0.1175</td><td>0.6053</td></tr>
        </table>
        <br>
    <dd> - лучший результат по мтерике ROC AUC показывает GradientBoostingClassifier, поэтом будем использовать его и построим график зависимости метрик от балансировки классов<br>
    <img src="https://img-fotki.yandex.ru/get/219501/16973746.78/0_a5a13_b0e2af4f_orig", width="472", height="334">
    <dd> - основной вывод состоит в том, что точные параметры модели (полноту и точность определения целевого класса) нужно будет определять исходя из экономических вводных: ARPU (потенциальной выручки, которую мы можем не упустить) и стоимости удержания одного абонента. Чем дешевле нам обходится удержание, тем больше нам нужно выявлять собирающихся оттечь абонентов и делать им предложения по удержанию <br>
    <dd> - попытка оптимизировать гиперпараметры модели с помощью перебора по сетке не дала результата, то есть оставляем параметры по умолчанию<br>
</dl>        
</div>

<div style="text-align: left; font-family:'Calibri'">
<form action="{{ url_for('index_page') }}" method=post>
    <dl>
        <a name="mod"></a>
        <dt><strong>7. Расчёт экономического эффекта кампании по удержанию:</strong><br>
            <br>
            Экономический эффект = ARPU * N_true_churn - Retention_cost * (N_true_churn + N_false_churn)) * Retention_prob * Retention_life_exp - Fix_costs, где: <br>
            <br>
            <table>
            <tr><td>ARPU</td><td>средняя выручка с одного абонента в месяц</td></tr>
            <tr><td>N_true_churn</td><td>количество абонентов, которые собирались оттечь, которые были правильно классифицированы и которым было сделано предложение по удержанию</td></tr>
            <tr><td>N_false_churn</td><td>количество абонентов, которые НЕ собирались оттечь, но которые были классифицированы, как собиравшиеся оттечь, и которым было сделано предложение по удержанию</td></tr>
            <tr><td>Retention_cost</td><td>cтоимость удержания одного абонента в месяц (в у.е.)</td></tr>
            <tr><td>Retention_prob</td><td>вероятность принятия абонентом предложения по удержанию (не зависит от того, правда ли он собирался оттечь)</td></tr>
            <tr><td>Retention_life_exp</td><td>ожидаемый срок жизни абонента после удержания (в месяцах)</td></tr>
            <tr><td>Fix_costs</td><td>фикисрованные расходы на внедрение модели и проведение кампании (в у.е.)</td></tr>
            </table>
            <br>
            Ввод параметров модели:<br>
        <br>
        <dd>
            <table>
                <tr><td>Вес класса "отток" (0 -  классы несбалансированы, 11 - сбалансированы) </td><td><textarea name=weight rows=1 cols=10>{{ weight }}</textarea></td></tr>
        
                <tr><td>ARPU (в у.е.) </td><td><textarea name=arpu rows=1 cols=10>{{ arpu }}</textarea></td></tr>
                <tr><td>Стоимость удержания одного абонента в месяц (в у.е.) </td><td><textarea name=retention_cost rows=1 cols=10>{{ retention_cost }}</textarea></td></tr>
                <tr><td>Вероятность принятия абонентом предложения по удержанию </td><td><textarea name=retention_prob rows=1 cols=10>{{ retention_prob }}</textarea></td></tr>
                <tr><td>Масштаб рассылки предложений (доля от всей абонентской базы) </td><td><textarea name=retention_scale rows=1 cols=10>{{ retention_scale }}</textarea></td></tr>
                <tr><td>Ожидаемый срок жизни после удержания (в месяцах) </td><td><textarea name=retention_life_exp rows=1 cols=10>{{ retention_life_exp }}</textarea></td></tr>
                <tr><td>Фикисрованные расходы на проведение кампании (в у.е.) </td><td><textarea name=fix_costs rows=1 cols=10>{{ fix_costs }}</textarea></td></tr>
            </table>
        <br>
        <br>
        <dd><input type=submit value="Рассчитать" style="text-align: center; font-family:'Calibri'">
    </dl>
</form>

<br>Экономический результат кампании по удержанию: <strong>{{ result }}</strong> у.е.<br> 
</div>
